"""
Exported filter.

Description:
{description}
"""

from filter import Filter
from plugins import registerPlugin

class MyFilter(Filter):
    def __init__(self, stream, parent):
        Filter.__init__(self, "{id}", "{description}", stream, parent)
{chunks}

#registerPlugin(MyFilter, "<MIME type>")
